nav {
  background-color: #333;
  padding: 1rem;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

.nft-collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.nft-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
  width: 200px;
  text-align: center;
  background-color: #f9f9f9;
}

.nft-item img {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.nft-item div {
  margin-top: 0.5rem;
  font-weight: bold;
}